.menu {
  width: 30px;
  height: 24px;
  position: relative;

  transform: scale(0.8);

  cursor: pointer;

  $mv: 9px;

  .top {
    top: 0px;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3s;
  }
  .topCross {
    transform: translateY($mv + 1px) rotate(45deg);
  }
  .mid {
    top: 10px;
    right: 0;
    position: absolute;
    height: 3px;
    width: 80%;
    background-color: black;
    transition: all 0.3s;
  }
  .midCross {
    background-color: unset;
  }
  .bot {
    bottom: 2px;
    position: absolute;
    height: 2px;
    width: 100%;
    background-color: black;
    transition: all 0.3s;
  }
  .botCross {
    transform: translateY(-$mv) rotate(-45deg);
  }
}
