.optionContainer {
  padding: 6px 7px;

  border-radius: 5px;

  cursor: pointer;
  user-select: none;
  &:hover {
    filter: brightness(0.91) saturate(1.7);
  }

  .otherInput {
    font-size: 18px;
    border: none;

    &:focus {
      outline: none;
    }
  }
}
